/* screen - c2caccesstokenrecoverystrefreshtokeninvalidcase */

.c2caccesstokenrecoverystrefreshtokeninvalidcase {
  background-color: var(--white);
  height: 1375px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .group-4 {
  background-color: transparent;
  height: 833px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .group-13 {
  background-color: transparent;
  height: 256px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .group-16 {
  background-color: transparent;
  height: 408px;
  left: 1140px;
  position: absolute;
  top: 698px;
  width: 680px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .web-sub_-title {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 403px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .sub-title {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 303px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .overview {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 58px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .partner-refresh-toke {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 197px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .st-refresh-token-inv-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .interaction-flows-copy-2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .famaily-hub-token {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2caccesstokenrecoverystrefreshtokeninvalidcase .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
