/* screen - c2creagreetotermsofusekeyscreens */

.c2creagreetotermsofusekeyscreens {
  background-color: var(--white);
  height: 1808px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2creagreetotermsofusekeyscreens .group-20 {
  background-color: transparent;
  height: 1266px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.c2creagreetotermsofusekeyscreens .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2creagreetotermsofusekeyscreens .overview-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 56px;
}

.c2creagreetotermsofusekeyscreens .keyscreens-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 70px;
}

.c2creagreetotermsofusekeyscreens .interaction-flows {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.c2creagreetotermsofusekeyscreens .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofusekeyscreens .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
