/* screen - c2creagreetotermsofuseinteractionflows */

.c2creagreetotermsofuseinteractionflows {
  background-color: var(--white);
  height: 1231px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2creagreetotermsofuseinteractionflows .group-2 {
  background-color: transparent;
  height: 689px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.c2creagreetotermsofuseinteractionflows .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2creagreetotermsofuseinteractionflows .overview-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 56px;
}

.c2creagreetotermsofuseinteractionflows .keyscreens-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.c2creagreetotermsofuseinteractionflows .interaction-flows {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.c2creagreetotermsofuseinteractionflows .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2creagreetotermsofuseinteractionflows .group-3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
